<html>
<head>
    <title>DirectoryX</title>

    #include("layout/header.vm")
</head>
    #include("layout/navigation.vm")

<body>
    $screen_content
</body>
<script>
    var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
                if (substrRegex.test(str)) {
                    matches.push(str);
                }
            });

            cb(matches);
        };
    };

    //var sample = ["Queen Condon  ", "Kary Hubbell  ", "Felton Tippin  ", "Deidra Giffin  ", "Karie Whiteman  ", "Carita Whistler  ", "Burma Hannaford  ", "Johnie Barna  ", "Becky Cartee  ", "Shila Sideris  ", "Moriah Morocco  ", "Erwin Pearse  ", "Arlena Pavone  ", "Janay Walkowiak  ", "Yoko Wickstrom  ", "Luisa Xie  ", "Gwyn Lagace  ", "Felica Cadieux  ", "Amado Golay  ", "Rigoberto Bribiesca  ", "Caron Switalski  ", "Keren Telford  ", "Bong Kelemen  ", "Shirly Keenum  ", "Nita Pawlowicz  ", "Palmira Gehringer  ", "Henriette Tolson  ", "Latrisha Whitehouse  ", "Jolanda Fulk  ", "Sylvester Mclead  ", "Iva Hoose  ", "Wan Kranz  ", "Clyde Brey  ", "Irma Tedesco  ", "Lael Snuggs  ", "Damien Aurand  ", "Marshall Hazen  ", "Isaac Hutchens  ", "Karmen Rolston  ", "Lacie Mccandless  ", "Vicente Villagran  ", "Dung Natividad  ", "Ronnie Housman  ", "Astrid Perz  ", "Toby Rockett  ", "Willie Simonton  ", "Melda Trousdale  ", "Ming Stolp  ", "Shelby Citizen  ", "Mariann Savell"];
    var p = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: '/api/v1/people/search/%QUERY',
            wildcard: '%QUERY'
        }
    });

    // passing in `null` for the `options` arguments will result in the default
    // options being used
    $('#basic-typeahead-search .typeahead').typeahead(null, {
        name: 'people',
        display: 'userId',
        source: p,
        minLength: 3,
        limit: 5,
        classNames: {
            hint: 'none',
            selectable: 'none'
        },
        templates: {
            empty: [
                '<div class="empty-message">',
                'no results found',
                '</div>'
            ].join('\n'),
            suggestion: function(data){
                return '<a href="/people/profile/'+data.userId+'"><div class="ui segment"><div class="image"><img src="/images/'
                        + data.photo + '" style="width:50px; height: auto; float:left;">' +
                        '</div><span><div class="info-wrapper"><p><strong><small>' + data.firstName + ' ' + data.lastName + ' ' +
                        '</small></strong>' + getCountryFlag(data.country) + '</p>' +
                        '<small>' + data.title + '</small></div></span></div></a>';

            }
        }
    });

    function getCountryFlag(country) {
        switch(country) {
            case "United States":
                return '<i class="us flag"></i>';
                break;
            case "India":
                return '<i class="india flag"></i>';
                break;
            case "United Kingdom":
                return '<i class="gb flag"></i>';
                break;
            case "China":
                return '<i class="china flag"></i>';
                break;
            default:
                return '<i class="ban icon"></i>';
        }
    }

</script>
<script>
    $('.ui.dropdown').dropdown();
</script>
<script>
    $("#basic-typeahead-search").keyup(function(event){
        if(event.keyCode == 13){
            var query = $("#typeahead-input").val();
            window.location.href = '/people/search/'+query;
        }
    });
</script>
</html>