<div class="ui fluid card" style="margin-top: 20px; height: 350px">
    <div class="content">
        <div class="header" style="font-size: 25px"><i class="group icon"></i>Teams</div>

        <div class="ui list" style="margin-top: 15px">
            <div class="item">
                <div class="content">
                    <a class="header" style="font-size: 1.25em">The Awesome DirectoryX Team</a>
                    <div class="meta">
                        <span class="date">5 Members</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header"  style="font-size: 1.25em">Insert Acronym Here Team</a>
                    <div class="meta">
                        <span class="date">15 Members</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header"  style="font-size: 1.25em">Cisco CMS Team</a>
                    <div class="meta">
                        <span class="date">57 Members</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header"  style="font-size: 1.25em">ETL Data Sync</a>
                    <div class="meta">
                        <span class="date">7 Members</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header"  style="font-size: 1.25em">Cisco AC Task Force</a>
                    <div class="meta">
                        <span class="date">9 Members</span>
                    </div>
                </div>
            </div>
        </div>
        


    </div>
</div>