<div class="ui page grid" id="profile-grid">
	<div class="sixteen wide column" style="margin-top: 100px" >
<div class="ui fluid card" style="margin-right: -100px">
  <div class="content">

<div class="ui grid">

<div class="four wide column">
  #parse("profile/profile_card.vm")
</div>

<div class="twelve wide column">
  
  #parse("profile/profile_details.vm")

  #parse("profile/profile_teams_projects.vm")
</div> 
</div><!-- end of grid -->


      <div class="sixteen wide column">
        #parse("profile/profile_reporting_chain.vm")
      </div>

</div>

</div>
</div>

</div>
</div>




<!-- End of Body -->
</div>

<script>
    $('.ui.modal')
            .modal()
    ;
</script>
<script>
  $("#expand-reporting-chain").on("click", function() {
      $('.ui.modal').modal('show');
  });
</script>


